@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Cores e fonte do Projeto */
:root {
    --azul-principal: #003366;
    --azul-secundaria: #0095ff;
    --azul-complemento: #2E4A61;
    --laranja-efeitos: rgb(255, 128, 93);
    --fonte: "Montserrat", serif;
}

body {
    font-family: var(--fonte);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    /* flex: 1; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
} 

/* Estilização da nav bar */
header {
    background-color: var(--azul-principal);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 90%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; 
    z-index: 1000;

    left: 50%;
    transform: translateX(-50%);

    height: 60px;
    top: 0; 
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo{
    justify-content: start; 
    margin-left: 30px;
}

.nav-bar {
    margin-right: 10px;
}

ul {
    display: flex;
    list-style-type: none;
}

li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    font-weight: 500;
    margin-right: 10px;
}

li i {
    padding-right: 4px;
}

.nav-bar ul li {
    position: relative;
}

/* Estilização dropdown serviços da nav bar */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--azul-principal);
    display: none;
    flex-direction: column;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-menu li a {
    padding: 10px;
    color: white;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu li a:hover {
    background-color: var(--laranja-efeitos);
}

li a:hover {
    border-radius: 20px;
    background-color: var(--azul-principal);
    color: white;
}

.container-login {
    margin-top: 20px;
    width: 80%;
    height: 85%;
    display: flex;
    border-radius: 20px;
    /* background-color: #333; */
    box-shadow: 0 1px 12px rgba(0, 0, 0, 15);
}

.form-imagam {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: none; */
    /* padding: 1rem; */
    background-color: var(--azul-principal);
    /* height: 100%; */
}

img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 2%;
}

.form {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.form form {
    width: 70%;
    height: 100%;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 4rem;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;
    background-color: var(--laranja-efeitos);
}

.button-cadastrar {
    display: flex;
    align-items: center;
}

.button-cadastrar button {
    border: none;
    background-color: var(--azul-principal);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.button-cadastrar button:hover {
    background-color: var(--azul-secundaria);

}

.row-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
}

.row-input input {
    margin: 1rem 0 ;
    padding: 0.6rem 0.4rem;
    border: #b3b3b3 1px solid;
    border-radius: 10px;
    /* box-shadow: 0px 0px 3px #333; */
    outline: none;
}

.row-input input:hover {
    background-color: #eeeeee75;
}

.row-input input:focus-visible {
    outline: 1px solid var(--azul-principal);
}

.row-input label {
    margin-bottom: -10px;
    font-weight: 400;
    color: black;
}

.button-entrar button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: var(--laranja-efeitos);
    border-radius: 5px;
    padding: 0.50rem;
    cursor: pointer;
}

.button-entrar button:hover {
    background-color: var(--azul-principal);
    color: white;
}

.form span a{
    font-size: 14px;
    /* text-decoration: none; */
    color: var(--azul-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}