@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Cores e fonte do Projeto */
:root {
    --azul-principal: #003366;
    --azul-secundaria: #0095ff;
    --azul-complemento: #2E4A61;
    --laranja-efeitos: rgb(255, 128, 93);
    --fonte: "Montserrat", serif;
}

body {
    font-family: var(--fonte);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

/* Estilização da nav bar */
header {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 90%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; /* Fabio */
    /* margin: 0px 100px; */

    left: 50%;
    transform: translateX(-50%);

    height: 60px; /* ajusta o tamanho da header */
    top: 0; 
}

.logo a {
    text-decoration: none;
    color: var(--azul-principal);
}

.logo{
    justify-content: start;
    margin-left: 70px;
}

.nav-bar {
    margin-right: 80px;
}

ul {
    display: flex;
    list-style-type: none;
}

li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--azul-principal);
    padding: 6px 12px;
    font-weight: 500;
    margin-right: 10px;
}

li i {
    padding-right: 4px;
}

.nav-bar ul li {
    position: relative;
}

/* Estilização dropdown serviços da nav bar */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--azul-principal);
    display: none;
    flex-direction: column;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-menu li a {
    padding: 10px;
    color: white;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu li a:hover {
    background-color: var(--laranja-efeitos);
}

li a:hover {
    border-radius: 20px;
    background-color: var(--azul-principal);
    color: white;
}

/* Estilização do retangulo */
.imagem-principal {
    position: absolute;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.container {
    margin: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.retangulo-form {
    /* position: relative; */
    width: 900px;
    height: 320px ;
    margin-top: 130px;
    background-color: var(--azul-principal);
    border-radius: 30px;
    box-shadow: 0px 5px 15px var(--azul-complemento);
    /* z-index: -1; */
}

/* Formulario */
.form-passagens {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.form-passagens form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.form-header h2 {
    margin-top: 12px;
}

.titulo {
    color: white;
}

.tipo-viagem {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

.row-tipo {
    margin: 2px;
    padding-right: 1rem;
}

.form-header {
    /* margin-top: -5px; */
    width: 100%;
}

.button-buscar {
    display: flex;
    justify-content: end;
    align-items: center;
    /* flex-direction: row;  */
    /* margin-top: 6px; */
}

.button-buscar button {
    height: 50%;
    margin-top: 20px;
    border: none;
    background-color: var(--laranja-efeitos);
    padding: 0rem 1.8rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.button-buscar button:hover {
    border: var(--laranja-efeitos) 1.5px solid;
    background-color: transparent;
}


.form-header label{
    font-weight: 600;
    margin-left: 6px;
    color: var(--laranja-efeitos);
}

.input-grupo {
    display: flex;
}

.row-input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    padding-right: 0.4rem;
}

.row-input input {
    margin: 0.1rem 0;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 0.2rem;
    outline: none;
}

#origem, #destino {
    padding: 10px 0px 10px 10px;
    padding-right: 2.0rem;
}

.row-input:hover {
    color: azure;
}

input[type="date"] {
    padding: 9px 0;
    padding-left: 6px;
    font-family: var(--fonte);
    color: #333;
}

input::placeholder {
    position: absolute;
    left: 10px;
}

/* Cards */
.container-card {
    width: 100%;
    height: 350px;
    margin: 0px 30px;
}
.texto-separador {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.texto-separador h3::after {
    content: '';
    display: block;
    background-color: var(--laranja-efeitos);
    width: 4.9rem;
    height: 0.2rem;
    margin: 0 auto;
    border-radius: 2px;
    position: absolute;
}

.cards {
    display: flex;
    justify-content: center;
}

.row-card {
    background-color: var();
    width: 350px;
    height: 390px;
    border-radius: 10px;
    /* border: #333 0.2px solid; */
    margin: 15px 20px;
    text-align: left;
    /* box-shadow: 4px 4px 12px var(--azul-complemento); */
}

.cards img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.conteudo-card h2{
    font-size: 16px;
}

.conteudo-card p{
    text-align: justify;
}